:root {
  --green: #cee9be;
  --shadow: 0 2px 2px rgb(0 0 0/0.5);
}

/* WARNA BACKGROUND*/
.bg-sky-50 {
  background-color: #f0f9ff;
}

.bg-sky-100 {
  background-color: #cffafe;
}

.bg-sky-200 {
  background-color: #bae6fd;
}

.bg-sky-300 {
  background-color: #7dd3fc;
}

.bg-sky-400 {
  background-color: #38bdf8;
}

.bg-sky-500 {
  background-color: #0ea5e9;
}

.bg-sky-600 {
  background-color: #0284c7;
}

.bg-sky-700 {
  background-color: #0369a1;
}

.bg-sky-800 {
  background-color: #075985;
}

.bg-sky-900 {
  background-color: #0c4a6e;
}

.bg-sky-950 {
  background-color: #082f49;
}

.bg-gray-50 {
  background-color: #f9fafb;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.bg-gray-200 {
  background-color: #e5e7eb;
}

.bg-gray-300 {
  background-color: #d1d5db;
}

.bg-gray-400 {
  background-color: #9ca3af;
}

.bg-gray-500 {
  background-color: #6b7280;
}

.bg-gray-600 {
  background-color: #4b5563;
}

.bg-gray-700 {
  background-color: #374151;
}

.bg-gray-800 {
  background-color: #1f2937;
}

.bg-gray-900 {
  background-color: #111827;
}

.bg-gray-950 {
  background-color: #030712;
}

/* TEXT COLOR */
.color-sky-50 {
  color: #f0f9ff;
}

.color-sky-100 {
  color: #cffafe;
}

.color-sky-200 {
  color: #bae6fd;
}

.color-sky-300 {
  color: #7dd3fc;
}

.color-sky-400 {
  color: #38bdf8;
}

.color-sky-500 {
  color: #0ea5e9;
}

.color-sky-600 {
  color: #0284c7;
}

.color-sky-700 {
  color: #0369a1;
}

.color-sky-800 {
  color: #075985;
}

.color-sky-900 {
  color: #0c4a6e;
}

.color-sky-950 {
  color: #082f49;
}

.color-gray-50 {
  color: #f9fafb;
}

.color-gray-100 {
  color: #f3f4f6;
}

.color-gray-200 {
  color: #e5e7eb;
}

.color-gray-300 {
  color: #d1d5db;
}

.color-gray-400 {
  color: #9ca3af;
}

.color-gray-500 {
  color: #6b7280;
}

.color-gray-600 {
  color: #4b5563;
}

.color-gray-700 {
  color: #374151;
}

.color-gray-800 {
  color: #1f2937;
}

.color-gray-900 {
  color: #111827;
}

.color-gray-950 {
  color: #030712;
}

body {
  font-size: 1.2rem;
  font-family: "Montserrat", Gabarito, cursive;
  font-weight: 600;
}

.hero ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/hormat.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale();
}

.hero {
  position: relative;
  min-height: 100vh;
}
.hero h1 {
  font-family: "Lobster", sans-serif;
  font-size: 6rem;
  color: white;
}

.hero h4 {
  font-size: 2rem;
  color: white;
}

.hero p {
  margin-top: 20px;
  font-size: 1rem;
  color: white;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h5 {
  font-size: 2rem;
}

.hero a {
  background-color: black;
  color: white;
}

.hero a:hover {
  background-color: #2882d6;
  color: white;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 2rem;
  font-weight: 700;
}

.about h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 5rem;
}

.top {
  margin-top: 70px;
}
.card {
  width: 18rem;
}

.atas {
  position: relative;
  overflow: hidden;
}
.atas .overlay {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
  padding: 1rem;
}
.atas:hover .overlay {
  opacity: 1;

  transition: ease 0.5s;
}
.atas .overlay {
  color: #fff;
}

.card p {
  font-size: 1, 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

.atas:hover .card-img-top {
  transform: scale(1.1);
}

.judul-section {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 700;
  margin-bottom: 32px;
}

.judul-section small {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 1.25rem;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid;
}

.paragrafh {
  line-height: 2rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

@keyframes over {
}

/* media query */

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
}
/* hp */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}

a {
  text-decoration: none;
}

input {
  display: none;
}

.cards {
  position: relative;
  height: 300px;
  width: 400px;
  perspective: 300px;
  transform-style: preserve-3d;
}

.cards label {
  position: absolute;
  width: 400px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.cards .card {
  position: relative;
  height: 100%;
  background-color: #323444;
  border-radius: 10px;
  padding: 20px 25px;
}

.card .image {
  display: flex;
  justify-content: space-between;
}

.card .image img {
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  margin-top: 23px;
  width: 86%;
  height: 220px;
  object-fit: cover;
}

.card .image .dots {
  text-align: center;
}

.dots div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.dots div:nth-child(1) {
  background-color: var(--current-color1);
}

.dots div:nth-child(2) {
  background-color: #5b85f9;
}

.dots div:nth-child(3) {
  background-color: #000;
}

.card .infos {
  display: block;
  text-align: end;
  padding-top: 60px;
}

.infos span {
  display: block;
}

.infos .name {
  font-size: 30px;
  color: var(--current-color1);
  letter-spacing: 8px;
  margin-bottom: 20px;
  padding-left: 25%;
  transition: all 0.6s ease;
}

.infos .lorem {
  font-size: 15.5px;
  color: #eceaed;
  letter-spacing: 3px;
}

.card .btn-contact {
  width: 100%;
  height: 60px;
  margin: 35px auto;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 700;
  transition: all 0.7s ease;
}

.card .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.socials i {
  font-size: 25px;
  transition: all 0.7s ease;
  color: var(--current-color2);
}

#s1:checked ~ .cards #slide4,
#s2:checked ~ .cards #slide5,
#s3:checked ~ .cards #slide1,
#s4:checked ~ .cards #slide2,
#s5:checked ~ .cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide5,
#s2:checked ~ .cards #slide1,
#s3:checked ~ .cards #slide2,
#s4:checked ~ .cards #slide3,
#s5:checked ~ .cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-35%, 0, -120px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide1,
#s2:checked ~ .cards #slide2,
#s3:checked ~ .cards #slide3,
#s4:checked ~ .cards #slide4,
#s5:checked ~ .cards #slide5 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1: #fad00c;
  --current-color2: #eceaed;
}

#s1:checked ~ .cards #slide2,
#s2:checked ~ .cards #slide3,
#s3:checked ~ .cards #slide4,
#s4:checked ~ .cards #slide5,
#s5:checked ~ .cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide3,
#s2:checked ~ .cards #slide4,
#s3:checked ~ .cards #slide5,
#s4:checked ~ .cards #slide1,
#s5:checked ~ .cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(70%, 0, -220px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}
